.button-container {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.read-joke {
    background-color: pink;
    margin: 2rem;
    padding: 10px 20px;
    border-radius: 10px;
}

.next-joke-button {
    background-color: pink;
    margin: 2rem;
    padding: 10px 20px;
    border-radius: 10px;
}